
.bio {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.bio > .subtext > p {
  color: #562523;
  margin-top: 2px !important;
  margin-bottom: 0px !important;
}

.bio > p > a {
  color: #C5833A !important;
  // font-style: none;
}

.bio > p > a:hover {
  color: #562523 !important;
}

.bio > h2 {
  color: #73223F;
  font-size: 1.9em;
  margin: 10px 0;
}

.bio > ul {
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 0;
  width: 100%;
}

.bio > li {
  display: inline-block;
}

.bio > ul > li > a {
  border-radius: 4px;
  color: #73223F;
  cursor: pointer;
  font-size: 1.1em !important;
  text-decoration: none;
  padding: 4px;
}

.bio > ul > li > a:hover {
  background-color: #562523;
  color: white;
}

.bio > p {
  margin-bottom: 0;
  margin-top: 0;
}

.bio > p:last-of-type {
  margin-top: 8px;
}

.fixed {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.fixed > .bio {
  height: 100px;
}

