* {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  text-align: center;
}

h2 {
  color: #73223F;
}

h3 {
  color: #73223F;
}

p {
  color: #562523;
}

section {
  height: 100vh;
}

a {
  color: #C5833A !important;
  cursor: pointer;
}

a:hover {
  color: #562523 !important;
}