.Sidebar {
  background-color:moccasin;
  width:80px;
  position: fixed;
  top: 0;
  bottom:0;
  list-style-type: none;
  text-align: center;
}

.Sidebar path {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation-name: dash;
  animation-duration: 5s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
}

.Sidebar ul {
  list-style-type: none;
  padding-left: 0px;
}

.Sidebar li {
  font-size: 25px;
  padding: 0px 10px;
  text-align: center;
  margin-bottom:30px;
  display: block;
  text-shadow: 2px 2px 2px white;
  list-style-type: none;
}

.Sidebar i {
  color: grey;
  text-align: center;
  text-decoration: none;
  :hover{
    color: black;
    text-decoration: underline;
  }
}

.Sidebar #head-icon {
  width: 120px;
  display: block;
  text-shadow: 2px 2px 0 white;
  list-style-type: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}