.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.banner {
  background-image: url('/mountains.jpg');
  background-position-y: 94%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 150px;
  flex: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
}
